<form method='post' action='/'>
  <input type='text' name='twitter_user_name'placeholder='@username'>
  <input type='submit' value='Submit'>
</form>

<% if current_user %>
  <% if current_user.twitter_oauth_token %>
    <div class='twitter_login'>
      <p>
        <strong>token:</strong> <%= current_user.twitter_oauth_token %><br>
        <strong>secret:</strong> <%= current_user.twitter_oauth_secret %><br>
      </p>
    </div>
  <% else %>
  <button><a href="/twitter/sign_in">Sign In with Twitter</a></button>
  <% end %>
<% else %>
  <h1>Why don't sign in or sign up?</h1>
<% end %>