<% if @error %>
  <h1>User doesn't exist</h1>
<% else %>

  <div class='user_tweets'><h1>@<%= @user.twitter_handle %></h1></div>

  <input id='twitter_handle' type='hidden' value='<%= @user.twitter_handle %>'></input>

  <div class="spinner"><img src='/ajax-loader.gif'></img></div>

  <div class='user_tweets'></div>

  <link rel="stylesheet" href="/css/user_tweets.css">
  <script src="/js/user_profile.js"></script>

<% end %>


